<md-toolbar>
    <div class="md-toolbar-tools">
        <p>
            <strong>ngClassifieds</strong>
        </p>

        <md-button ng-click="vm.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New Classified
        </md-button>

        <md-button ng-click="showFilters = true">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Search
        </md-button>
    </div>
</md-toolbar>

<div class="filters" layout="row" layout-align="center start" ng-show="showFilters">
    <md-input-container>
        <label for="search">Enter Search Term</label>
        <input id="search" type="text" ng-model="classifiedsFilter">
    </md-input-container>

    <md-input-container>
        <label>Category</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in vm.categories" value="{{ category }}">{{ category }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <md-button class="md-warn" ng-click="classifiedsFilter = ''; category = ''">Clear</md-button>
    </md-input-container>
</div>

<md-sidenav class="md-sidenav-left md-whiteframe-z6" md-component-id="left">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add a classified</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="classified.title" md-autofocus>
            </md-input-container>
            <md-input-container>
                <label for="price">Price</label>
                <input type="text" id="price" ng-model="classified.price">
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <input type="text" id="description" ng-model="classified.description">
            </md-input-container>
            <md-input-container>
                <label for="image">Image Link</label>
                <input type="text" id="image" ng-model="classified.image">
            </md-input-container>
            <md-button ng-if="!editing" class="md-primary" ng-click="vm.saveClassified(classified)">
                Save
            </md-button>
            <md-button ng-if="editing" class="md-primary" ng-click="vm.saveEdit()">
                Save Edit
            </md-button>
            <md-button class="md-warn" ng-click="vm.closeSidebar()">
                Cancel
            </md-button>
        </form>
        <!-- <pre>{{ classified | json }}</pre> -->
    </md-content>
</md-sidenav>


<md-content class="md-padding" layout="row" layout-wrap>
    <md-card class="classified" ng-repeat="classified in vm.classifieds | filter: classifiedsFilter | filter: category" flex="30">
        <img ng-src="{{ classified.image }}" alt="stuff">
        <md-card-content>

            <div class="classified-info" ng-show="!showContact" layout-padding>
                <h2 class="md-title md-padding">{{ classified.title }}</h2>
                <h2>{{ classified.posted | date:'longDate' }}</h2>
                <h3>{{ classified.price | currency }}</h3>
                <p>{{ classified.description }}</p>
                <!-- <pre>{{ classified | json}}</pre> -->
            </div>

            <div class="classified-contact" ng-show="showContact">
                <p>
                    <md-icon class="mdi mdi-account"></md-icon>{{ classified.contact.name }}</p>
                <p>
                    <md-icon class="mdi mdi-phone"></md-icon>{{ classified.contact.phone }}</p>
                <p>
                    <md-icon class="mdi mdi-email"></md-icon>{{ classified.contact.email }}</p>
            </div>

            <div layout="row">
                <md-button ng-click="showContact = true" ng-show="!showContact">
                    Contact
                </md-button>
                <md-button ng-click="showContact = false" ng-show="showContact">
                    Details</md-button>
                <md-button ng-click="showAdmin = true" ng-show="!showAdmin">
                    Admin
                </md-button>
                <md-button ng-click="showAdmin = false" ng-show="showAdmin">
                    Close
                </md-button>
            </div>

            <div class="classified-admin" ng-if="showAdmin">
                <h3>Admin</h3>
                <div layout="row">
                    <md-button ng-click="vm.editClassified(classified)" class="md-primary">Edit</md-button>
                    <md-button class="md-warn" ng-click="vm.deleteClassified($event, classified)">Delete</md-button>
                </div>
            </div>

        </md-card-content>
    </md-card>
    </md-content>